In [115]:
import pandas as pd

In [116]:
# open csv
file1 = "NHL_Bio.csv"
BodstatNHLdf_18 = pd.read_csv(file1)
BodstatNHLdf_18.head()

,Unnamed: 0,Player,Team,Position,Height,Weight,Birthdate
0,0,NaN,FA,-,-,-,-
1,1,"Abdelkader, Justin Abdelkader, Justin",DET,LW,"6'2""",214,2/25/1987
2,2,"Aberg, Pontus Aberg, Pontus",MIN,LW,"5'11""",196,9/23/1993
3,3,"Abramov, Vitaly Abramov, Vitaly",OTT,RW,"5'9""",171,5/08/1998
4,4,"Acciari, Noel Acciari, Noel",BOS,C,"5'10""",205,12/01/1991

In [117]:
#drop col"Unnamed"
BodstatNHLdf_18 = BodstatNHLdf_18.drop(['Unnamed: 0'], axis=1)
BodstatNHLdf_18.head()

,Player,Team,Position,Height,Weight,Birthdate
0,NaN,FA,-,-,-,-
1,"Abdelkader, Justin Abdelkader, Justin",DET,LW,"6'2""",214,2/25/1987
2,"Aberg, Pontus Aberg, Pontus",MIN,LW,"5'11""",196,9/23/1993
3,"Abramov, Vitaly Abramov, Vitaly",OTT,RW,"5'9""",171,5/08/1998
4,"Acciari, Noel Acciari, Noel",BOS,C,"5'10""",205,12/01/1991

In [118]:
# rename columns
BodstatNHLdf_18 = BodstatNHLdf_18.rename(index=str, columns={"Player": "PLAYER","Team": "TEAM", "Position":"POSITION", "Height": "HEIGHT", "Weight":"WEIGHT", "Birthdate": "BIRTHDATE"})
BodstatNHLdf_18.head()

,PLAYER,TEAM,POSITION,HEIGHT,WEIGHT,BIRTHDATE
0,NaN,FA,-,-,-,-
1,"Abdelkader, Justin Abdelkader, Justin",DET,LW,"6'2""",214,2/25/1987
2,"Aberg, Pontus Aberg, Pontus",MIN,LW,"5'11""",196,9/23/1993
3,"Abramov, Vitaly Abramov, Vitaly",OTT,RW,"5'9""",171,5/08/1998
4,"Acciari, Noel Acciari, Noel",BOS,C,"5'10""",205,12/01/1991

In [119]:
# new data frame with split value columns 
BodstatNHLdf_18["PLAYER1"], BodstatNHLdf_18["PLAYER2"] = BodstatNHLdf_18["PLAYER"].str.split("  ", 1).str 

BodstatNHLdf_18.head()

,PLAYER,TEAM,POSITION,HEIGHT,WEIGHT,BIRTHDATE,PLAYER1,PLAYER2
0,NaN,FA,-,-,-,-,NaN,NaN
1,"Abdelkader, Justin Abdelkader, Justin",DET,LW,"6'2""",214,2/25/1987,"Abdelkader, Justin","Abdelkader, Justin"
2,"Aberg, Pontus Aberg, Pontus",MIN,LW,"5'11""",196,9/23/1993,"Aberg, Pontus","Aberg, Pontus"
3,"Abramov, Vitaly Abramov, Vitaly",OTT,RW,"5'9""",171,5/08/1998,"Abramov, Vitaly","Abramov, Vitaly"
4,"Acciari, Noel Acciari, Noel",BOS,C,"5'10""",205,12/01/1991,"Acciari, Noel","Acciari, Noel"

In [120]:
# drop cols PLAYER and PLAYER2
BodstatNHLdf_18 = BodstatNHLdf_18.drop(['PLAYER', 'PLAYER2'], axis=1)

BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE             PLAYER1
0   FA        -      -      -           -                 NaN
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel

In [121]:
# rename PLAYER1 col to PLAYER
BodstatNHLdf_18 = pd.DataFrame(BodstatNHLdf_18.rename(index=str, columns={"PLAYER1": "PLAYER"}))
# BodstatNHLdf_18 = BodstatNHLdf_18.iloc[1:]
BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE              PLAYER
0   FA        -      -      -           -                 NaN
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel

In [122]:
BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE              PLAYER
0   FA        -      -      -           -                 NaN
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel

In [123]:
# add/initialize AGE col in df
BodstatNHLdf_18["AGE"] = ""
BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE              PLAYER AGE
0   FA        -      -      -           -                 NaN
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel

In [124]:
# drop na in Birthday col
# BodstatNHLdf_18 = BodstatNHLdf_18.dropna(subset=['BIRTHDATE'])
# BodstatNHLdf_18 = BodstatNHLdf_18.dropna()
# BodstatNHLdf_18.head()

In [125]:
# dedup any replicated rows
BodstatNHLdf_18 = BodstatNHLdf_18.drop_duplicates(subset='PLAYER', keep='first', inplace=False)
BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE              PLAYER AGE
0   FA        -      -      -           -                 NaN
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel

In [127]:
#  drop na in Birthday col
# BodstatNHLdf_18 = BodstatNHLdf_18.dropna(subset=['BIRTHDATE'], inplace=True)
# BodstatNHLdf_18.dropna(how='any', inplace=True)
# BodstatNHLdf_18.dropna(axis = 0, how ='any')
# BodstatNHLdf_18.head()

In [128]:
#Function to remove '-' from specific columns and returns back DF
def clean_my_data(tmpdf):
    tmpdf=tmpdf.loc[tmpdf.WEIGHT != "-"]
    tmpdf=tmpdf.loc[tmpdf.HEIGHT != "-"]
    tmpdf=tmpdf.loc[tmpdf.POSITION != "-"]
    tmpdf=tmpdf.loc[tmpdf.BIRTHDATE != "-"]
    tmpdf=tmpdf.loc[tmpdf.TEAM != "-"]
    tmpdf=tmpdf.loc[tmpdf.PLAYER != "-"]
    
    return(tmpdf)

BodstatNHLdf_18=clean_my_data(BodstatNHLdf_18)
BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE              PLAYER AGE
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel
6   NJ       LW   6'0"    199   4/30/1992     Agostino, Kenny

In [130]:
# calculate age
import datetime as dt

now = dt.datetime.now()
for i in range(0, len(BodstatNHLdf_18)):
    diff = now - dt.datetime.strptime(BodstatNHLdf_18['BIRTHDATE'][i],'%m/%d/%Y')
    years = diff.days // 365
    days = diff.days - (years*365)
    BodstatNHLdf_18['AGE'][i] = years

# print(BodstatNHLdf_18['AGE'].value_counts())    
BodstatNHLdf_18.head()

  TEAM POSITION HEIGHT WEIGHT   BIRTHDATE              PLAYER AGE
1  DET       LW   6'2"    214   2/25/1987  Abdelkader, Justin  32
2  MIN       LW  5'11"    196   9/23/1993       Aberg, Pontus  25
3  OTT       RW   5'9"    171   5/08/1998     Abramov, Vitaly  21
4  BOS        C  5'10"    205  12/01/1991       Acciari, Noel  27
6   NJ       LW   6'0"    199   4/30/1992     Agostino, Kenny  27

In [133]:
BodstatNHLdf_18['PLAYER'] = BodstatNHLdf_18['PLAYER'].str.replace(',', '')
BodstatNHLdf_18

     TEAM POSITION HEIGHT WEIGHT   BIRTHDATE                PLAYER AGE
1     DET       LW   6'2"    214   2/25/1987     Abdelkader Justin  32
2     MIN       LW  5'11"    196   9/23/1993          Aberg Pontus  25
3     OTT       RW   5'9"    171   5/08/1998        Abramov Vitaly  21
4     BOS        C  5'10"    205  12/01/1991          Acciari Noel  27
6      NJ       LW   6'0"    199   4/30/1992        Agostino Kenny  27
7     COL       LW  5'10"    187   1/03/1991       Agozzino Andrew  28
8     CAR        C   6'0"    176   7/26/1997         Aho Sebastian  21
11    NSH        D   6'1"    179  12/27/1997       Allard Frederic  21
12    STL        G   6'2"    203   8/07/1990            Allen Jake  28
13    COL        D   6'4"    201  10/18/1991              Alt Mark  27
15    MTL        D   6'3"    219   9/24/1988           Alzner Karl  30
16     LA        C   6'1"    205   5/13/1996        Amadio Michael  23
17    ANA        D   6'2"    205  11/13/1994      Amorosa Terrance  24
19    TOR        G   6'4"    230  10/02/1989     Andersen Frederik  29
20    OTT        G   6'2"    185   5/21/1981        Anderson Craig  38
21     NJ       RW  5'11"    190   6/19/1998         Anderson Joey  21
23    CBJ       RW   6'3"    221   5/07/1994         Anderson Josh  25
25     LA        C  5'11"    191   9/12/1999  Anderson-Dolan Jaret  19
27    NYR        C  5'11"    198  10/13/1998        Andersson Lias  20
28    CGY        D   6'1"    214  10/27/1996      Andersson Rasmus  22
29     TB       LW   6'1"    203   5/17/1991         Andreoff Andy  28
30    COL       RW  5'10"    188   3/21/1993      Andrighetto Sven  26
32    PIT        C   6'5"    210   3/06/1996       Angello Anthony  23
33    CHI        C   6'4"    198   5/24/1988        Anisimov Artem  31
34    BUF        D  5'11"    175  12/06/1992        Antipin Victor  26
35    WPG        C   6'2"    193   1/15/1996        Appleton Mason  23
36     TB       LW  5'11"    176   2/16/1993    Archambault Oliver  26
37    OTT       RW   6'3"    212   2/09/1990      Archibald Darren  29
38    ARI       RW  5'10"    176  10/06/1992        Archibald Josh  26
39    MTL       RW   6'4"    210   5/31/1993            Armia Joel  26
...   ...      ...    ...    ...         ...                   ...  ..
1618  COL        C   6'1"    221  10/20/1989          Wilson Colin  29
1619  PIT       LW   6'2"    199   3/16/1991        Wilson Garrett  28
1620  BUF       RW  5'11"    183   4/24/1992          Wilson Scott  27
1621  WSH       RW   6'4"    218   3/29/1994            Wilson Tom  25
1622  BOS        C   6'0"    200   4/12/1988         Wingels Tommy  31
1623  MIN       LW   6'2"    210   3/06/1985         Winnik Daniel  34
1624  DET        D   6'2"    210   4/14/1990        Witkowski Luke  29
1625  OTT        D   6'2"    185   3/17/1995     Wolanin Christian  24
1626  TOR        G   6'3"    196   7/12/1998           Woll Joseph  20
1629   NJ       LW   6'2"    195   9/13/1995            Wood Miles  23
1630  STL        D   6'2"    207   3/12/1993     Wotherspoon Tyler  26
1631   NJ        D   6'0"    190   9/17/1991         Yakovlev Egor  27
1632   NJ        D   6'0"    190   9/17/1991        Yakovlev Yegor  27
1633  COL       RW  5'11"    195  10/06/1993          Yakupov Nail  25
1634  EDM       RW   5'8"    153   9/29/1998       Yamamoto Kailer  20
1635   TB       LW   6'1"    184   4/14/1997            Yan Dennis  22
1636  FLA        D   6'1"    191   9/09/1986          Yandle Keith  32
1637  DET        C   6'0"    185  12/27/1998         Zablocki Lane  20
1638   NJ        C   6'3"    210   4/06/1997           Zacha Pavel  22
1639  DET       LW   6'0"    196  11/27/1999          Zadina Filip  19
1640  COL        D   6'5"    230   4/16/1995        Zadorov Nikita  24
1641  TOR        D   6'2"    193  10/29/1991        Zaitsev Nikita  27
1642   NJ        C   6'2"    185   5/13/1985          Zajac Travis  34
1645  BOS        D   6'0"    200   2/21/1997          Zboril Jakub  22
1646  DET        C   6'0"    197  10/09/1980     Zetterberg Henrik  38
1647  NYR        C   6'2"    213   4/18/1993        Zibanejad Mika  26
1649  DAL       RW   5'8"    184   9/01/1987       Zuccarello Mats  31
1650  MIN       LW  5'11"    183   1/16/1992          Zucker Jason  27
1651  TOR        C   5'9"    175   3/22/2000           Zummack Eli  19
1652  VGK       LW   6'0"    200   5/15/1995        Zykov Valentin  24

[1361 rows x 7 columns]

In [132]:
#write into csv file
BodstatNHLdf_18.to_csv('NHLBodstat_18.csv', index=True, header=True)